// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $prop, $abbrev in (width: w, height: h) {
            @each $size, $length in $sizes {
                .#{$abbrev}#{$infix}-#{$size} {
                    #{$prop}: $length !important;
                }
            }
        }
    }
}

// Custom
@import "custom";

.bg-danger, .bg-dark, .bg-info, .bg-primary, .bg-success, .bg-warning {
    color: #fff
}

.bg-facebook {
    background-color: #3b5998 !important
}

a.bg-facebook:focus, a.bg-facebook:hover, button.bg-facebook:focus, button.bg-facebook:hover {
    background-color: #2d4373 !important
}

.bg-twitter {
    background-color: #00aced !important
}

a.bg-twitter:focus, a.bg-twitter:hover, button.bg-twitter:focus, button.bg-twitter:hover {
    background-color: #0087ba !important
}

.bg-linkedin {
    background-color: #4875b4 !important
}

a.bg-linkedin:focus, a.bg-linkedin:hover, button.bg-linkedin:focus, button.bg-linkedin:hover {
    background-color: #395d90 !important
}

.bg-google-plus {
    background-color: #d34836 !important
}

a.bg-google-plus:focus, a.bg-google-plus:hover, button.bg-google-plus:focus, button.bg-google-plus:hover {
    background-color: #b03626 !important
}

.bg-flickr {
    background-color: #ff0084 !important
}

a.bg-flickr:focus, a.bg-flickr:hover, button.bg-flickr:focus, button.bg-flickr:hover {
    background-color: #cc006a !important
}

.bg-tumblr {
    background-color: #32506d !important
}

a.bg-tumblr:focus, a.bg-tumblr:hover, button.bg-tumblr:focus, button.bg-tumblr:hover {
    background-color: #22364a !important
}

.bg-xing {
    background-color: #026466 !important
}

a.bg-xing:focus, a.bg-xing:hover, button.bg-xing:focus, button.bg-xing:hover {
    background-color: #013334 !important
}

.bg-github {
    background-color: #4183c4 !important
}

a.bg-github:focus, a.bg-github:hover, button.bg-github:focus, button.bg-github:hover {
    background-color: #3269a0 !important
}

.bg-html5 {
    background-color: #e34f26 !important
}

a.bg-html5:focus, a.bg-html5:hover, button.bg-html5:focus, button.bg-html5:hover {
    background-color: #be3c18 !important
}

.bg-openid {
    background-color: #f78c40 !important
}

a.bg-openid:focus, a.bg-openid:hover, button.bg-openid:focus, button.bg-openid:hover {
    background-color: #f56f0f !important
}

.bg-stack-overflow {
    background-color: #fe7a15 !important
}

a.bg-stack-overflow:focus, a.bg-stack-overflow:hover, button.bg-stack-overflow:focus, button.bg-stack-overflow:hover {
    background-color: #df6101 !important
}

.bg-youtube {
    background-color: #b00 !important
}

a.bg-youtube:focus, a.bg-youtube:hover, button.bg-youtube:focus, button.bg-youtube:hover {
    background-color: #800 !important
}

.bg-css3 {
    background-color: #0170ba !important
}

a.bg-css3:focus, a.bg-css3:hover, button.bg-css3:focus, button.bg-css3:hover {
    background-color: #015187 !important
}

.bg-dribbble {
    background-color: #ea4c89 !important
}

a.bg-dribbble:focus, a.bg-dribbble:hover, button.bg-dribbble:focus, button.bg-dribbble:hover {
    background-color: #e51e6b !important
}

.bg-instagram {
    background-color: #517fa4 !important
}

a.bg-instagram:focus, a.bg-instagram:hover, button.bg-instagram:focus, button.bg-instagram:hover {
    background-color: #406582 !important
}

.bg-pinterest {
    background-color: #cb2027 !important
}

a.bg-pinterest:focus, a.bg-pinterest:hover, button.bg-pinterest:focus, button.bg-pinterest:hover {
    background-color: #9f191f !important
}

.bg-vk {
    background-color: #45668e !important
}

a.bg-vk:focus, a.bg-vk:hover, button.bg-vk:focus, button.bg-vk:hover {
    background-color: #344d6c !important
}

.bg-yahoo {
    background-color: #400191 !important
}

a.bg-yahoo:focus, a.bg-yahoo:hover, button.bg-yahoo:focus, button.bg-yahoo:hover {
    background-color: #2a015e !important
}

.bg-behance {
    background-color: #1769ff !important
}

a.bg-behance:focus, a.bg-behance:hover, button.bg-behance:focus, button.bg-behance:hover {
    background-color: #0050e3 !important
}

.bg-dropbox {
    background-color: #007ee5 !important
}

a.bg-dropbox:focus, a.bg-dropbox:hover, button.bg-dropbox:focus, button.bg-dropbox:hover {
    background-color: #0062b2 !important
}

.bg-reddit {
    background-color: #ff4500 !important
}

a.bg-reddit:focus, a.bg-reddit:hover, button.bg-reddit:focus, button.bg-reddit:hover {
    background-color: #cc3700 !important
}

.bg-spotify {
    background-color: #7ab800 !important
}

a.bg-spotify:focus, a.bg-spotify:hover, button.bg-spotify:focus, button.bg-spotify:hover {
    background-color: #588500 !important
}

.bg-vine {
    background-color: #00bf8f !important
}

a.bg-vine:focus, a.bg-vine:hover, button.bg-vine:focus, button.bg-vine:hover {
    background-color: #008c69 !important
}

.bg-foursquare {
    background-color: #1073af !important
}

a.bg-foursquare:focus, a.bg-foursquare:hover, button.bg-foursquare:focus, button.bg-foursquare:hover {
    background-color: #0c5480 !important
}

.bg-vimeo {
    background-color: #aad450 !important
}

a.bg-vimeo:focus, a.bg-vimeo:hover, button.bg-vimeo:focus, button.bg-vimeo:hover {
    background-color: #93c130 !important
}

.bg-blue {
    background-color: #467fd0 !important
}

bg-pink {
    background-color: #e83e8c !important
}

a.bg-pink:focus, a.bg-pink:hover, button.bg-pink:focus, button.bg-pink:hover {
    background-color: #d91a72 !important
}
