@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}
.app-body .sidebar {
    flex: 0 0 250px;
}

.sidebar .sidebar-nav {
    width: 100%
}

.sidebar .nav {
    width: 100%;
}

.app-header .navbar-brand {
    width: 250px;
}

html:not([dir=rtl]) .sidebar {
    margin-left: -250px;
}
